@import './fonts.scss';

// variables
$backgroundcolor: #f4f4f4;
$black-ground: #131313;
$grey-icon: #333333;
$grey-menu: #252526;
$grey-list: #2d2d2d;
$grey-cards: #181818;
$grey-form: #3c3c3c;
$grey-lateral: #575757;
$grey-fonts: #969696;
$dark-white:#d4d4d4;
// $red: #721e25;
$red: #ae0005;

//components
@import './Welcome.scss';
@import './FunctionUI.scss';
@import './MenuIcon.scss';
@import './Nav.scss';
@import './About.scss';
@import './List.scss';
@import './ImgDisplayer.scss';

body {
    background-color: $black-ground;
    color: $dark-white;
    // font-family: 'HelveticaNeue';
    // font-family: 'HelveticaNeue-Light';
    font-family: 'HelveticaNeue-Thin';
    font-family: 'HelveticaNeue-UltraLight';
    font-weight: 100;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

#root {
    width: 100%;
    max-width: 1500px;
}

// hide the scrollbar
::-webkit-scrollbar {
    width: 0;
}



#function-icon {
    padding: 0 20px;

    #icon {

        &:hover {

            .st0,
            .st1,
            .st2,
            #XMLID_63_ {
                stroke: $red;
            }
        }


        #XMLID_63_ {
            stroke: $dark-white;
        }

        .st0 {
            fill: none;
            stroke: $dark-white;
            stroke-width: 1.4177;
            stroke-miterlimit: 10;
        }

        .st1 {
            font-family: 'HelveticaNeue-UltraLight';
            color: $dark-white;
        }

        .st2 {
            font-size: 32.8534px;
            color: $dark-white;
        }
    }
}

// footer
.name {
    float: right;
    color: $red;

    margin: 2em 40px;
    @media (max-width: 450px) {
        margin: 1em 15px;
    }
}

.spinner-container {
    margin-top: 200px;
    border: 10px solid black;
    border-top: 10px solid $red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}