.nav-container {
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px $grey-icon;
    position: sticky;
    top: 0;
    background-color: $grey-menu;
    transition: opacity 0.7s ease-out;
    padding: 0 40px;

    @media (max-width: 450px) {
        padding: 0px 15px;
    }

     #logo {
        font-size: 2em;
        font-family: 'HelveticaNeue-UltraLight';
        letter-spacing: 0.2em;
        padding-right: 20px;
        margin: 15px 0;
        color: $red;
        cursor: pointer;

        @media (max-width: 500px) {
            margin: 0;
            font-size: 1.7em;
        }

        @media (max-width: 400px) {
            font-size: 1em;
        }
    }

    .nav-buttons {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #function-icon {
            margin: 0;
            height: 45px;
            width: 40px;
        }

        .leng {
            margin-right: 20px;

            @media (max-width: 400px) {
                display: none;
            }

            &:hover {
                color: $red;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 1em;
    font-family: 'HelveticaNeue-Thin';
    cursor: pointer;
}

.arrow {

    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 3;
    padding: 30px;
    transform: rotate(270deg);

    @media (max-width: 500px) {
        width: 25px;
        height: 25px;
    }

    .arrow-scroll {
        opacity: 0.9;
        fill: none;
        stroke: $red;
        stroke-width: 5;
        stroke-miterlimit: 10
    }
}